@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", serif;
}

html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  margin: 0 auto;
}
nav {
}
.main_container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  padding: 0 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 10px 15px;
  text-align: center;
  background-color: white;
}
.main_header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo img {
  width: 80px;
  height: 80px;
}

.telBasket {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.supIndex p {
  background-color: red;
  /*   width: 15px;
    height: 15px;
   */
  padding: 0px 5px;
  border-radius: 100%;
  text-align: center;
  font-size: 12px;
  color: white;
  font-weight: 600;
  position: absolute;
  top: -45%;
  right: -43%;
}

.supIndex {
  position: relative;
}

.hrefs {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.hrefs a {
  position: relative;
  text-decoration: none;
  font-size: 14px;
  color: #151515;
  padding-bottom: 2px;
}

.hrefs a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #151515;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-out;
}

.hrefs a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.telBasket p {
  font-size: 14px;
}

/* ////////////////////////////////////// */

.VideoSection {
  width: 100%;
}

.VideoSection video {
  width: 100%;
  height: 460px;
  object-fit: cover;
}

/* ////////////////////////////////////////////// */

.SecondSection {
  width: 100%;
  margin: 60px 0 80px;
}

.SecondSection .item {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}

.SecondSection .item p {
  color: #5e5e5e;
  width: 40%;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.SecondSection .item img {
  width: 50%;
  height: 100%;
}

/* ////////////////////////////////////// */

.ThirdSection {
  width: 100%;
  margin-bottom: 30px;
}

.ThirdSection video {
  width: 100%;
  height: 460px;
  object-fit: cover;
}

/* //////////////////////////////////////////////// */
.FouthSection {
  padding: 20px;
  margin-top: 30px;
}

.products {
}
.fresh_fish,
.smoked_fish,
.black_caviar,
.red_caviar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  row-gap: 40px;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 150px;
}

.elem {
  width: 230px;
  height: 100%;
  padding: 10px;
}

.elem img {
  width: 100%;
}

.elem h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 22.4px;
}

.elem b {
  font-size: 17px;
  font-weight: 800;
  margin: 10px 0;
  display: block;
}

.bottoms {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.calck {
  display: flex;
  align-items: center;
  gap: 0px;
}

.minus {
  width: 25px;
  height: 25px;
  background-color: #bfbfbf;
  cursor: pointer;
  border: 1px solid gray;
}

.nums {
  width: 40px;
  height: 25px;
  text-align: center;
  background-color: #d9d9d9;
}

.plusBtn {
  width: 25px;
  border: 1px solid gray;
  height: 25px;
  background-color: #bfbfbf;
  cursor: pointer;
}

.AddBassket {
  width: 100%;
  background-color: #0f5b00;
  color: white;
  height: 25px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease-in-out;
}

.AddBassket:hover {
  background-color: gainsboro;
  color: black;
  transition: 0.4s ease-in-out;
}
/* ///////////////////////////////////////////////// */
.otziv {
  width: 50%;
}

.otziv h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 25px;
}

input[type="text"] {
  border: 0;
  border-bottom: 1px solid #e2e2e2;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 20px;
  width: 100%;
}
input[type="email"] {
  border: 0;
  border-bottom: 1px solid #e2e2e2;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 20px;
  width: 100%;
}
#comment {
  border: 1px solid #e2e2e2;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 20px;
  height: 140px;
  width: 100%;
}

.file-upload {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border-radius: 6px;
  width: 100%;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}

.file-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #555;
  font-size: 14px;
}

.file-label:hover {
  color: #222;
}

.file-label::before {
  content: "";
  margin-right: 5px;
}

.file-input {
  display: none;
}

.file-count {
  font-size: 12px;
  color: #777;
}

.submitComment {
  width: 100%;
  background-color: #000000;
  height: 50px;
  border: 0;
  color: white;
  font-size: 15px;
  font-weight: 300 !important;
  cursor: pointer;
  transition: 0.4s ease-in;
}
.submitComment:hover {
  background-color: gainsboro;
  transition: 0.4s ease-in-out;
  color: black;
  font-weight: 600 !important;
}

.footer h1 {
  text-align: center;
  font-size: 45px;
  font-weight: 400;
  color: #7f7566;
  margin-bottom: 50px;
}

.flex_footer {
  display: flex;
  gap: 45px;
}
.right_block {
  width: 50%;
}
.right_block h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 25px;
}
.right_block p {
  font-size: 16px;
  font-weight: 400;
  color: #5e5e5e;
}
.addres {
  margin: 17px 0 30px;
}
.fcIns {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
  cursor: pointer;
}
hr {
  margin-top: 50px;
  height: 1px;
  border: none;
  background-color: #cacaca;
}
.telephon {
  margin-bottom: 30px;
}

.bottomFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 400;
  color: #5e5e5e;
}


@media (max-width: 850px) {
  .main_container {
    padding: 0 20px;
  }

  .SecondSection {
    padding: 0 10px;
  }
  .SecondSection .item {
    justify-content: space-between;
    gap: 15px;
  }

  .SecondSection .item p {
    color: #5e5e5e;
    width: 100%;
    font-size: 15px;
  }
  .telTxt {
    display: none;
  }
  .bottomFooter {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .main_container {
    padding: 0 20px;
  }

  .SecondSection {
    padding: 0 10px;
  }
  .SecondSection .item {
    justify-content: space-between;
    gap: 15px;
  }

  .SecondSection .item p {
    color: #5e5e5e;
    width: 100%;
    font-size: 15px;
  }
  .telTxt {
    display: none;
  }

  .elem {
    width: 200px;
    height: 100%;
    padding: 10px;
  }
  .VideoSection video {
    width: 100%;
    height: 370px;
    object-fit: cover;
  }
}

@media (max-width: 550px) {
  .elem {
    width: 200px;
    height: 100%;
    padding: 10px;
  }
  .bottomFooter {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    gap: 10px;
  }
  .SecondSection .item {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 20px;
    margin-bottom: 50px;
  }
  .SecondSection .item.reverse {
    flex-direction: column;
  }
  .SecondSection .item img {
    width: 100%;
    height: 100%;
  }

  .SecondSection .item p {
    font-size: 14px;
    text-align: center;
  }
  .VideoSection video {
    width: 100%;
    height: 236px;
    object-fit: cover;
  }
  .header {
    padding: 10px 10px 10px 0;
  }
  .flex_footer {
    display: flex;
    flex-direction: column;
    gap: 55px;
  }
  .right_block {
    width: 100%;
    text-align: center;
  }
  .fcIns {
    justify-content: center;
  }
  .otziv {
    width: 100%;
  }
  .footer h1 {
    text-align: center;
    font-size: 25px;
  }
}

@media (max-width: 450px) {
  .main_container {
    padding: 0 10px;
  }
  .VideoSection video {
    width: 100%;
    height: 190px;
    object-fit: cover;
  }
  .elem {
    width: 150px;
    height: 100%;
    padding: 10px;
  }
  .FouthSection {
    padding: 10px;
    margin-top: 30px;
  }
  .bottoms {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
  }
  .SecondSection .item p {
    font-size: 12px;
    text-align: center;
    line-height: 16px;
  }
  .SecondSection .item.reverse {
    gap: 10px;
  }
  .logo img {
    width: 65px;
    height: 65px;
  }
  .hrefs {
    gap: 10px;
  }

  .hrefs a {
    font-size: 12px;
  }
}
